{% extends '@EasyAdmin/default/list.html.twig' %}

{% block body %}
    {{parent()}}
    <!-- Exportar modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color:#f05536;">
            <h4 class="modal-title" id="myModalLabel" style="color:white;">Exportar - Seleccionar formato</h4>
            <button type="button" class="close"  style="float:right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

          </div>
          <div class="modal-body">
              <form id="formExportar" action="{{ path('easyadmin', {entity: 'OrdenTrabajo', action: 'exportar' }) }}" method="POST">
                <input type="hidden" name="orden_trabajo" id="orden_trabajo" value="2" >
                <div class="radio">
                  <label>
                    <input type="radio" name="formato" id="formato" value="WORD" checked>
                    WORD
                  </label><br>
                  <label>
                    <input type="radio" name="formato" id="formato" value="PDF" >
                    PDF
                  </label><br>
                  <label>
                    <input type="radio" name="formato" id="formato" value="EXCEL" >
                    EXCEL
                  </label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button id="btnExportar" type="button" class="btn btn-primary" onclick="exportar()">Exportar</button>
            </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block new_action %}
    {% if is_granted('ROLE_ENCARGADO') %}
        <div class="button-action">
            <a class="{{ _action.css_class|default('') }}" href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}&from_list=1" target="{{ _action.target }}">
                {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
            </a>
        </div>
    {% endif %}
{% endblock new_action %}

{% block item_actions %}
  <a  class="exportOt" href="javascript:;" data-toggle="modal" data-target=".bs-example-modal-sm" target="_self" data-id="{{_item_id}}"><i class="fa fa-download"></i> </a>
 {# {% set _list_item_actions = _list_item_actions|prune_item_actions(_entity_config, [], item) %} #}
  {{ parent() }}
{% endblock %}


{% block body_javascript %}
  {{ parent() }}
  {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
    <script>
        // paso el valor del id de la fila que seleccione para exportar
        $(".exportOt").click(function(){
            $("#orden_trabajo").val($(this).data('id'));
        });

        // para enviar el formulario donde 
        function exportar(){
        $("#formExportar").submit();
        };
  </script>
{% endblock %}
