{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block entity_form %}
    {% if entity.solicitud is not null%}
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Datos de la solicitud asociada</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>Creado</dt>
                            <dd>{{ entity.solicitud.createdAt|date('d/m/Y')}}</dd>
                            <dt>Cliente</dt>
                            <dd>{{ entity.solicitud.cliente}}</dd>
                            <dt>Servicio</dt>
                            <dd>{{ entity.solicitud.servicio}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <a id="btnQuitarSolicitud"class="btn btn-danger" href="javascript:;">X</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}   
    {% if entity.formularioResultado is not null %}
        <input id="inputminutos" type="integer" class="card-text" style="display:none" value="{{entity.formularioResultado.minutosTrabajado}}" name="{{entity.formularioResultado.id}}"></input>
    {% endif %}
    {{ form(form) }}
{% if entity.formularioResultado is not null%}
    

 {% endif %}
{% endblock entity_form %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{asset('js/ordenTrabajo-form.js')}}"></script>
    <script>
    var minutos=document.getElementById('ordentrabajo_minutos');
    var valorId =document.getElementById('inputminutos').name;
    var iniciominutos = document.getElementById('ordentrabajo_horaInicio')
    var finminutos = document.getElementById('ordentrabajo_horaFin')
    var valorId =document.getElementById('inputminutos').name;
    var valorMinutos =document.getElementById('inputminutos').value;
    
        minutos.setAttribute('value',valorMinutos);
    
    $("#edit-ordentrabajo-form").submit(function(){
        let minutost=document.getElementById('ordentrabajo_minutos').value
        let valorminutos=minutost;
        let id=valorId;
        let datos={
            'id':parseInt(id),
            'valor':parseInt(valorminutos)}
        $.ajax({
            "type": "POST" ,
            "url": "/editar-formularioExpress/",
            "data":datos,
            success:function(r){
               minutos.setAttribute('value',datos.valor);  
            }
            })
        });
        $(document).ready(function(){
	        $("#ordentrabajo_horaInicio").change(function() {
                let Imunutos=document.getElementById('ordentrabajo_horaInicio').value;
                iniciominutos.setAttribute('value',Imunutos);
                let iniciomin=new Date(document.getElementById('ordentrabajo_horaInicio').value);
                let finmin=new Date(document.getElementById('ordentrabajo_horaFin').value);
                let resultadominutos=(finmin.getTime()-iniciomin.getTime())/60000;
                minutos.setAttribute('value',resultadominutos);
                
            });
            $("#ordentrabajo_horaFin").change(function() {
                let Imunutos=document.getElementById('ordentrabajo_horaFin').value;
                finminutos.setAttribute('value',Imunutos);
                let iniciomin=new Date(document.getElementById('ordentrabajo_horaInicio').value);
                let finmin=new Date(document.getElementById('ordentrabajo_horaFin').value);
                let resultadominutos=(finmin.getTime()-iniciomin.getTime())/60000;
                minutos.setAttribute('value',resultadominutos);
                
            });
        })

    </script>
{% endblock body_javascript %}
