{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block entity_form %}
    {% if entity.solicitud is not null%}
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Datos de la solicitud asociada</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>Creado</dt>
                            <dd>{{ entity.solicitud.createdAt|date('d/m/Y')}}</dd>
                            <dt>Cliente</dt>
                            <dd>{{ entity.solicitud.cliente}}</dd>
                            <dt>Servicio</dt>
                            <dd>{{ entity.solicitud.servicio}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <a id="btnQuitarSolicitud"class="btn btn-danger" href="javascript:;">X</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ form(form) }}
{% if entity.formularioResultado is not null%}
 <div class="container fieldset">
 <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Editar Minutos trabajados</h5>
    <label id="labelminutos"class="card-text text-center form-control">{{entity.formularioResultado.minutosTrabajado}}</label>
    <input id="inputminutos" type="number"class="card-text" style="display:none" value="{{entity.formularioResultado.minutosTrabajado}}"></input>
    <button  class="btn btn-primary btn-editar text-center" id=">{{entity.formularioResultado}}" onclick=EditarMinutos(id)>Editar Minutos Trabajados </button>
    <button  class="btn btn-success btn-guardar" id="{{entity.formularioResultado.id}}" style="display:none" onclick=GuardarMinutos(id,value)>Guardar Minutos Trabajados </button>
  </div>
</div>
</div>
 {% endif %}
{% endblock entity_form %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{asset('js/ordenTrabajo-form.js')}}"></script>
    <script>
    let labelminutos=document.getElementById('labelminutos');
    let inputminutos=document.getElementById('inputminutos');
    let editar=document.getElementsByClassName('btn-editar');
    let guardar=document.getElementsByClassName('btn-guardar');
    function EditarMinutos(){
        labelminutos.style.display='none';
        editar[0].style.display='none';
        inputminutos.style.display='inline-block';
        guardar[0].style.display='inline-block';
    }
    function GuardarMinutos(id){
        labelminutos.style.display='inline-block';
        editar[0].style.display='inline-block';
        inputminutos.style.display='none';
        guardar[0].style.display='none';
        let valor=parseInt(inputminutos.value);
        let datos={
            'id':id,
            'valor':valor}
            $.ajax({
            "type": "POST" ,
            "url": "/editar-formularioExpress/",
            "data":datos,
            success:function(r){
               inputminutos.innerHTML=datos.valor;
            }
            })
    }
    </script>
{% endblock body_javascript %}
