<div class="form-group 
        {% if value == 0 %} has-error
        {% elseif value == 1 %} has-warning
        {% elseif value == 2 %} has-success {% endif %}"
    >
    <select 
        {% if value == 0 %} style="color: #fff; background-color: #dd4b39; font-weight: bold;" 
        {% elseif value == 1 %} style="color: #fff; background-color: #f39c12; font-weight: bold;"
        {% elseif value == 2 %} style="color: #fff; background-color: #00a65a; font-weight: bold;" {% endif %}
        id="estadoGestion{{ item.id }}" class="form-control form-control-sm estadoGestionSelect" data-id="{{ item.id }}" data-pre="0">
    <option value="0">Abierta</option>
    <option value="1">Pendiente</option>
    <option value="2">Cerrada</option>
    </select>
</div>

<script>
 $(function(){
     $("#estadoGestion{{ item.id }}").val('{{value}}');
     $("#estadoGestion{{ item.id }}").on('focus', function () {
        // Store the current value on focus and on change
        $(this).data("pre",$(this).val())
    })
 })
</script>
