<div class="estadoGestion" id="estadoGestion{{ item.id }}" data-id="{{ item.id }}" data-pre="0"
        {% if value == 0 %} value=0
        {% elseif value == 1 %} value=1
        {% elseif value == 2 %} value=2
        {% endif %}
    > 
</div>
{# ¿Qué hace este script?
<script>
 $(function(){
     $("#estadoGestion{{ item.id }}").val('{{value}}');
     $("#estadoGestion{{ item.id }}").on('focus', function () {
        // Store the current value on focus and on change
        $(this).data("pre",$(this).val())
    })
 })
</script>
#}