{% extends '@EasyAdmin/default/new.html.twig' %}

{% block entity_form %}
    {% if app.session.get('solicitud_ot') is not null %}
        <div class="card ml-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Datos de la solicitud asociada</h5>
                <p class="card-text">Problema: {{ app.session.get('solicitud_ot').detalle}}</p>
                <p class="card-text">Detalle: {{ app.session.get('solicitud_ot').consulta}}</p>
                <p class="card-text">Cliente: {{ app.session.get('solicitud_ot').cliente}}</p>
                <p class="card-text">Facility: {{ app.session.get('solicitud_ot').facilityid}}</p>
                <p class="card-text">Creado: {{ app.session.get('solicitud_ot').fecha}}</p>
                <a id="btnQuitarSolicitud"class="btn btn-danger" href="javascript:;">Cancelar</a>
            </div>
        </div>
        
    {% endif %}
    {{ form(form) }}
{% endblock entity_form %}
{% block body_javascript %}
    {{ parent() }}
    <script>
    </script>
    <script src="{{asset('js/ordenTrabajo-form.js')}}"></script>
{% endblock body_javascript %}
